$globalHorizontalSpace: 100px;
$globalVerticalSpace: 25px;

@media(min-width: 1080px) {
    .swiper-slide {
        width: calc(100% / 6 - 25px);
        height: 200px;
        margin: 0px 13px;
        border: 1px solid red;
    }
}

@media(max-width: 1079px) {
    .swiper-slide {
        width: calc(100% / 5 - 16px);
        height: 150px;
        margin: 0px 8px;
        border: 1px solid yellow;
    }
}

@media(max-width: 768px) {
    .swiper-slide {
        width: calc(100% / 3 - 16px);
        height: 150px;
        margin: 0px 8px;
        border: 1px solid yellow;
    }
}

@media(max-width: 640px) {
    .swiper-slide {
        width: calc(100% / 3 - 16px);
        height: 200px;
        margin: 0px 8px;
        border: 1px solid yellow;
    }
    
}

@media(max-width: 639px) {
    .swiper-slide {
        width: calc(100% / 3 - 16px);
        height: 200px;
        margin: 0px 8px;
        border: 1px solid yellow;
    }
    
}



.sliderContainer {
    width: 100%;
    background-color: rgba(0,0,0,.5);
    // width: calc(100% - 200px);
    // padding: 0 $globalHorizontalSpace;
    box-sizing: border-box;
}

.swiper-container {
    width: calc(100% - 200px);
}



// .swiper-wrapper {
// }

.swiper-button-prev {
    color: transparent;
    background-image: url("https://image.flaticon.com/icons/svg/109/109681.svg") !important;
    // background-image: url("../../../icons/prevArrow.svg") !important;
    background-repeat: no-repeat;
}
  
.swiper-button-next {
    color: transparent;
    background-image: url("../../../icons/nextArrow.svg") !important;
    background-repeat: no-repeat;
}

.swiper-button-disabled {
    opacity: 0 !important;
}

*:focus {
    outline: none;
}
// .swiper-button-next {
//     position: absolute;
//     // transform: translateY(-50%);
//     // background-color: red;
// }

